.lh
.history
inference-old.py
.venv
nohup.out
modules/__pycache__/segm_models.cpython-310.pyc
modules/__pycache__/tfc_tdf_v2.cpython-310.pyc
modules/__pycache__/tfc_tdf_v3.cpython-310.pyc
modules/bs_roformer/__pycache__/__init__.cpython-310.pyc
modules/bs_roformer/__pycache__/attend.cpython-310.pyc
modules/bs_roformer/__pycache__/bs_roformer.cpython-310.pyc
modules/bs_roformer/__pycache__/mel_band_roformer.cpython-310.pyc
models/model_bs_roformer_ep_368_sdr_12.9628.ckpt
models/model_bs_roformer_ep_368_sdr_12.9628.ckpt
models/model_vocals_segm_models_sdr_9.77.yaml
models/model_vocals_segm_models_sdr_9.77.ckpt
models/model_bs_roformer_ep_368_sdr_12.9628.ckpt
models/MDX23C-8KFFT-InstVoc_HQ.yaml
models/MDX23C-8KFFT-InstVoc_HQ.ckpt
models/Kim_MelRoformer.yaml
models/Kim_MelRoformer.ckpt
models/model_bs_roformer_ep_368_sdr_12.9628.ckpt
models/model_bs_roformer_ep_368_sdr_12.9628.ckpt
data_disassembled.txt
data_strings.txt
